<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialFinancialProcessInformation">
            <h2><span>Material Financial Process Information</span> {{materialFinancialProcessInformation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company ID</span></dt>
                <dd>
                    <span>{{materialFinancialProcessInformation.companyID}}</span>
                </dd>
                <dt><span>Permanent Establishment ID</span></dt>
                <dd>
                    <span>{{materialFinancialProcessInformation.permanentEstablishmentID}}</span>
                </dd>
                <dt><span>Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{materialFinancialProcessInformation.lifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{materialFinancialProcessInformation.lifeCycleStatusCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-financial-process-information', materialFinancialProcessInformation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
