<div>
    <h2 id="page-heading">
        <span>Material Financial Process Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-financial-process-information" [routerLink]="['/material-financial-process-information/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Financial Process Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialFinancialProcessInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyID"><span>Company ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="permanentEstablishmentID"><span>Permanent Establishment ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCode"><span>Life Cycle Status Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCodeText"><span>Life Cycle Status Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialFinancialProcessInformation of materialFinancialProcessInformations ;trackBy: trackId">
                <td><a [routerLink]="['/material-financial-process-information', materialFinancialProcessInformation.id, 'view' ]">{{materialFinancialProcessInformation.id}}</a></td>
                <td>{{materialFinancialProcessInformation.companyID}}</td>
                <td>{{materialFinancialProcessInformation.permanentEstablishmentID}}</td>
                <td>{{materialFinancialProcessInformation.lifeCycleStatusCode}}</td>
                <td>{{materialFinancialProcessInformation.lifeCycleStatusCodeText}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-financial-process-information', materialFinancialProcessInformation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-financial-process-information', materialFinancialProcessInformation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-financial-process-information', { outlets: { popup: materialFinancialProcessInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialFinancialProcessInformations && materialFinancialProcessInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
