<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialQuantityConversion">
            <h2><span>Material Quantity Conversion</span> {{materialQuantityConversion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Corresponding Quantity</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.correspondingQuantity}}</span>
                </dd>
                <dt><span>Corresponding Quantity Unit Code</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.correspondingQuantityUnitCode}}</span>
                </dd>
                <dt><span>Corresponding Quantity Unit Code Text</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.correspondingQuantityUnitCodeText}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.quantity}}</span>
                </dd>
                <dt><span>Quantity Unit Code</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.quantityUnitCode}}</span>
                </dd>
                <dt><span>Quantity Unit Code Text</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.quantityUnitCodeText}}</span>
                </dd>
                <dt><span>Batch Dependent Indicator</span></dt>
                <dd>
                    <span>{{materialQuantityConversion.batchDependentIndicator}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-quantity-conversion', materialQuantityConversion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
