<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-quantity-conversion-heading">Create or edit a Material Quantity Conversion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialQuantityConversion.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_correspondingQuantity">Corresponding Quantity</label>
                    <input type="number" class="form-control" name="correspondingQuantity" id="field_correspondingQuantity"
                           formControlName="correspondingQuantity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_correspondingQuantityUnitCode">Corresponding Quantity Unit Code</label>
                    <input type="text" class="form-control" name="correspondingQuantityUnitCode" id="field_correspondingQuantityUnitCode"
                           formControlName="correspondingQuantityUnitCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_correspondingQuantityUnitCodeText">Corresponding Quantity Unit Code Text</label>
                    <input type="text" class="form-control" name="correspondingQuantityUnitCodeText" id="field_correspondingQuantityUnitCodeText"
                           formControlName="correspondingQuantityUnitCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantityUnitCode">Quantity Unit Code</label>
                    <input type="text" class="form-control" name="quantityUnitCode" id="field_quantityUnitCode"
                           formControlName="quantityUnitCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantityUnitCodeText">Quantity Unit Code Text</label>
                    <input type="text" class="form-control" name="quantityUnitCodeText" id="field_quantityUnitCodeText"
                           formControlName="quantityUnitCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_batchDependentIndicator">Batch Dependent Indicator</label>
                    <input type="checkbox" class="form-control" name="batchDependentIndicator" id="field_batchDependentIndicator"
                           formControlName="batchDependentIndicator"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
