<div>
    <h2 id="page-heading">
        <span>Material Quantity Conversions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-quantity-conversion" [routerLink]="['/material-quantity-conversion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Quantity Conversion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialQuantityConversions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondingQuantity"><span>Corresponding Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondingQuantityUnitCode"><span>Corresponding Quantity Unit Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correspondingQuantityUnitCodeText"><span>Corresponding Quantity Unit Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantityUnitCode"><span>Quantity Unit Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantityUnitCodeText"><span>Quantity Unit Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="batchDependentIndicator"><span>Batch Dependent Indicator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialQuantityConversion of materialQuantityConversions ;trackBy: trackId">
                <td><a [routerLink]="['/material-quantity-conversion', materialQuantityConversion.id, 'view' ]">{{materialQuantityConversion.id}}</a></td>
                <td>{{materialQuantityConversion.correspondingQuantity}}</td>
                <td>{{materialQuantityConversion.correspondingQuantityUnitCode}}</td>
                <td>{{materialQuantityConversion.correspondingQuantityUnitCodeText}}</td>
                <td>{{materialQuantityConversion.quantity}}</td>
                <td>{{materialQuantityConversion.quantityUnitCode}}</td>
                <td>{{materialQuantityConversion.quantityUnitCodeText}}</td>
                <td>{{materialQuantityConversion.batchDependentIndicator}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-quantity-conversion', materialQuantityConversion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-quantity-conversion', materialQuantityConversion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-quantity-conversion', { outlets: { popup: materialQuantityConversion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialQuantityConversions && materialQuantityConversions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
