<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-supply-planning-process-information-heading">Create or edit a Material Supply Planning Process Information</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialSupplyPlanningProcessInformation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultProcurementMethodCode">Default Procurement Method Code</label>
                    <input type="text" class="form-control" name="defaultProcurementMethodCode" id="field_defaultProcurementMethodCode"
                           formControlName="defaultProcurementMethodCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultProcurementMethodCodeText">Default Procurement Method Code Text</label>
                    <input type="text" class="form-control" name="defaultProcurementMethodCodeText" id="field_defaultProcurementMethodCodeText"
                           formControlName="defaultProcurementMethodCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplyPlanningProcedureCode">Supply Planning Procedure Code</label>
                    <input type="text" class="form-control" name="supplyPlanningProcedureCode" id="field_supplyPlanningProcedureCode"
                           formControlName="supplyPlanningProcedureCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplyPlanningProcedureCodeText">Supply Planning Procedure Code Text</label>
                    <input type="text" class="form-control" name="supplyPlanningProcedureCodeText" id="field_supplyPlanningProcedureCodeText"
                           formControlName="supplyPlanningProcedureCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lotSizeProcedureCode">Lot Size Procedure Code</label>
                    <input type="text" class="form-control" name="lotSizeProcedureCode" id="field_lotSizeProcedureCode"
                           formControlName="lotSizeProcedureCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lotSizeProcedureCodeText">Lot Size Procedure Code Text</label>
                    <input type="text" class="form-control" name="lotSizeProcedureCodeText" id="field_lotSizeProcedureCodeText"
                           formControlName="lotSizeProcedureCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplyPlanningAreaID">Supply Planning Area ID</label>
                    <input type="text" class="form-control" name="supplyPlanningAreaID" id="field_supplyPlanningAreaID"
                           formControlName="supplyPlanningAreaID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCode">Life Cycle Status Code</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCode" id="field_lifeCycleStatusCode"
                           formControlName="lifeCycleStatusCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCodeText">Life Cycle Status Code Text</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCodeText" id="field_lifeCycleStatusCodeText"
                           formControlName="lifeCycleStatusCodeText"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
