<div>
    <h2 id="page-heading">
        <span>Material Supply Planning Process Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-supply-planning-process-information" [routerLink]="['/material-supply-planning-process-information/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Supply Planning Process Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialSupplyPlanningProcessInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defaultProcurementMethodCode"><span>Default Procurement Method Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defaultProcurementMethodCodeText"><span>Default Procurement Method Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyPlanningProcedureCode"><span>Supply Planning Procedure Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyPlanningProcedureCodeText"><span>Supply Planning Procedure Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotSizeProcedureCode"><span>Lot Size Procedure Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotSizeProcedureCodeText"><span>Lot Size Procedure Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyPlanningAreaID"><span>Supply Planning Area ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCode"><span>Life Cycle Status Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCodeText"><span>Life Cycle Status Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialSupplyPlanningProcessInformation of materialSupplyPlanningProcessInformations ;trackBy: trackId">
                <td><a [routerLink]="['/material-supply-planning-process-information', materialSupplyPlanningProcessInformation.id, 'view' ]">{{materialSupplyPlanningProcessInformation.id}}</a></td>
                <td>{{materialSupplyPlanningProcessInformation.defaultProcurementMethodCode}}</td>
                <td>{{materialSupplyPlanningProcessInformation.defaultProcurementMethodCodeText}}</td>
                <td>{{materialSupplyPlanningProcessInformation.supplyPlanningProcedureCode}}</td>
                <td>{{materialSupplyPlanningProcessInformation.supplyPlanningProcedureCodeText}}</td>
                <td>{{materialSupplyPlanningProcessInformation.lotSizeProcedureCode}}</td>
                <td>{{materialSupplyPlanningProcessInformation.lotSizeProcedureCodeText}}</td>
                <td>{{materialSupplyPlanningProcessInformation.supplyPlanningAreaID}}</td>
                <td>{{materialSupplyPlanningProcessInformation.lifeCycleStatusCode}}</td>
                <td>{{materialSupplyPlanningProcessInformation.lifeCycleStatusCodeText}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-supply-planning-process-information', materialSupplyPlanningProcessInformation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-supply-planning-process-information', materialSupplyPlanningProcessInformation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-supply-planning-process-information', { outlets: { popup: materialSupplyPlanningProcessInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialSupplyPlanningProcessInformations && materialSupplyPlanningProcessInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
