<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialSupplyPlanningProcessInformation">
            <h2><span>Material Supply Planning Process Information</span> {{materialSupplyPlanningProcessInformation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Default Procurement Method Code</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.defaultProcurementMethodCode}}</span>
                </dd>
                <dt><span>Default Procurement Method Code Text</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.defaultProcurementMethodCodeText}}</span>
                </dd>
                <dt><span>Supply Planning Procedure Code</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.supplyPlanningProcedureCode}}</span>
                </dd>
                <dt><span>Supply Planning Procedure Code Text</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.supplyPlanningProcedureCodeText}}</span>
                </dd>
                <dt><span>Lot Size Procedure Code</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.lotSizeProcedureCode}}</span>
                </dd>
                <dt><span>Lot Size Procedure Code Text</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.lotSizeProcedureCodeText}}</span>
                </dd>
                <dt><span>Supply Planning Area ID</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.supplyPlanningAreaID}}</span>
                </dd>
                <dt><span>Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.lifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{materialSupplyPlanningProcessInformation.lifeCycleStatusCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-supply-planning-process-information', materialSupplyPlanningProcessInformation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
