<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialDeviantTaxClassification">
            <h2><span>Material Deviant Tax Classification</span> {{materialDeviantTaxClassification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Country Code</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.countryCode}}</span>
                </dd>
                <dt><span>Country Code Text</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.countryCodeText}}</span>
                </dd>
                <dt><span>Region Code</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.regionCode}}</span>
                </dd>
                <dt><span>Region Code Text</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.regionCodeText}}</span>
                </dd>
                <dt><span>Tax Exemption Reason Code</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxExemptionReasonCode}}</span>
                </dd>
                <dt><span>Tax Exemption Reason Code Text</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxExemptionReasonCodeText}}</span>
                </dd>
                <dt><span>Tax Rate Type Code</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxRateTypeCode}}</span>
                </dd>
                <dt><span>Tax Rate Type Code Text</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxRateTypeCodeText}}</span>
                </dd>
                <dt><span>Tax Type Code</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxTypeCode}}</span>
                </dd>
                <dt><span>Tax Type Code Text</span></dt>
                <dd>
                    <span>{{materialDeviantTaxClassification.taxTypeCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-deviant-tax-classification', materialDeviantTaxClassification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
