<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-deviant-tax-classification-heading">Create or edit a Material Deviant Tax Classification</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialDeviantTaxClassification.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_countryCode">Country Code</label>
                    <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                           formControlName="countryCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_countryCodeText">Country Code Text</label>
                    <input type="text" class="form-control" name="countryCodeText" id="field_countryCodeText"
                           formControlName="countryCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regionCode">Region Code</label>
                    <input type="text" class="form-control" name="regionCode" id="field_regionCode"
                           formControlName="regionCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_regionCodeText">Region Code Text</label>
                    <input type="text" class="form-control" name="regionCodeText" id="field_regionCodeText"
                           formControlName="regionCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxExemptionReasonCode">Tax Exemption Reason Code</label>
                    <input type="text" class="form-control" name="taxExemptionReasonCode" id="field_taxExemptionReasonCode"
                           formControlName="taxExemptionReasonCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxExemptionReasonCodeText">Tax Exemption Reason Code Text</label>
                    <input type="text" class="form-control" name="taxExemptionReasonCodeText" id="field_taxExemptionReasonCodeText"
                           formControlName="taxExemptionReasonCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxRateTypeCode">Tax Rate Type Code</label>
                    <input type="text" class="form-control" name="taxRateTypeCode" id="field_taxRateTypeCode"
                           formControlName="taxRateTypeCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxRateTypeCodeText">Tax Rate Type Code Text</label>
                    <input type="text" class="form-control" name="taxRateTypeCodeText" id="field_taxRateTypeCodeText"
                           formControlName="taxRateTypeCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxTypeCode">Tax Type Code</label>
                    <input type="text" class="form-control" name="taxTypeCode" id="field_taxTypeCode"
                           formControlName="taxTypeCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taxTypeCodeText">Tax Type Code Text</label>
                    <input type="text" class="form-control" name="taxTypeCodeText" id="field_taxTypeCodeText"
                           formControlName="taxTypeCodeText"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
