<div>
    <h2 id="page-heading">
        <span>Material Deviant Tax Classifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-deviant-tax-classification" [routerLink]="['/material-deviant-tax-classification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Deviant Tax Classification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialDeviantTaxClassifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryCode"><span>Country Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryCodeText"><span>Country Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regionCode"><span>Region Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regionCodeText"><span>Region Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxExemptionReasonCode"><span>Tax Exemption Reason Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxExemptionReasonCodeText"><span>Tax Exemption Reason Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxRateTypeCode"><span>Tax Rate Type Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxRateTypeCodeText"><span>Tax Rate Type Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxTypeCode"><span>Tax Type Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxTypeCodeText"><span>Tax Type Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialDeviantTaxClassification of materialDeviantTaxClassifications ;trackBy: trackId">
                <td><a [routerLink]="['/material-deviant-tax-classification', materialDeviantTaxClassification.id, 'view' ]">{{materialDeviantTaxClassification.id}}</a></td>
                <td>{{materialDeviantTaxClassification.countryCode}}</td>
                <td>{{materialDeviantTaxClassification.countryCodeText}}</td>
                <td>{{materialDeviantTaxClassification.regionCode}}</td>
                <td>{{materialDeviantTaxClassification.regionCodeText}}</td>
                <td>{{materialDeviantTaxClassification.taxExemptionReasonCode}}</td>
                <td>{{materialDeviantTaxClassification.taxExemptionReasonCodeText}}</td>
                <td>{{materialDeviantTaxClassification.taxRateTypeCode}}</td>
                <td>{{materialDeviantTaxClassification.taxRateTypeCodeText}}</td>
                <td>{{materialDeviantTaxClassification.taxTypeCode}}</td>
                <td>{{materialDeviantTaxClassification.taxTypeCodeText}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-deviant-tax-classification', materialDeviantTaxClassification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-deviant-tax-classification', materialDeviantTaxClassification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-deviant-tax-classification', { outlets: { popup: materialDeviantTaxClassification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialDeviantTaxClassifications && materialDeviantTaxClassifications.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
