<div>
    <h2 id="page-heading">
        <span>Materials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material" [routerLink]="['/material/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material
            </span>
        </button>
        <br/>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material" (click)="loadData()">
            <span >
            Load Data
            </span>
        </button>
    </h2>
    <br/>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materials">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="procurementMeasureUnitCode"><span>Procurement Measure Unit Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="procurementMeasureUnitCodeText"><span>Procurement Measure Unit Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="procurementLifeCycleStatusCode"><span>Procurement Life Cycle Status Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="procurementLifeCycleStatusCodeText"><span>Procurement Life Cycle Status Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="internalID"><span>Internal ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uUID"><span>U UID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseMeasureUnitCode"><span>Base Measure Unit Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseMeasureUnitCodeText"><span>Base Measure Unit Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="identifiedStockTypeCode"><span>Identified Stock Type Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="identifiedStockTypeCodeText"><span>Identified Stock Type Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="languageCode"><span>Language Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="languageCodeText"><span>Language Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productValuationLevelTypeCode"><span>Product Valuation Level Type Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productValuationLevelTypeCodeText"><span>Product Valuation Level Type Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materials ;trackBy: trackId">
                <td><a [routerLink]="['/material', material.id, 'view' ]">{{material.id}}</a></td>
                <td>{{material.procurementMeasureUnitCode}}</td>
                <td>{{material.procurementMeasureUnitCodeText}}</td>
                <td>{{material.procurementLifeCycleStatusCode}}</td>
                <td>{{material.procurementLifeCycleStatusCodeText}}</td>
                <td>{{material.internalID}}</td>
                <td>{{material.uUID}}</td>
                <td>{{material.baseMeasureUnitCode}}</td>
                <td>{{material.baseMeasureUnitCodeText}}</td>
                <td>{{material.identifiedStockTypeCode}}</td>
                <td>{{material.identifiedStockTypeCodeText}}</td>
                <td>{{material.languageCode}}</td>
                <td>{{material.description}}</td>
                <td>{{material.languageCodeText}}</td>
                <td>{{material.productValuationLevelTypeCode}}</td>
                <td>{{material.productValuationLevelTypeCodeText}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material', material.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material', material.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material', { outlets: { popup: material.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materials && materials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
