<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="material">
            <h2><span>Material</span> {{material.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Procurement Measure Unit Code</span></dt>
                <dd>
                    <span>{{material.procurementMeasureUnitCode}}</span>
                </dd>
                <dt><span>Procurement Measure Unit Code Text</span></dt>
                <dd>
                    <span>{{material.procurementMeasureUnitCodeText}}</span>
                </dd>
                <dt><span>Procurement Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{material.procurementLifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Procurement Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{material.procurementLifeCycleStatusCodeText}}</span>
                </dd>
                <dt><span>Internal ID</span></dt>
                <dd>
                    <span>{{material.internalID}}</span>
                </dd>
                <dt><span>U UID</span></dt>
                <dd>
                    <span>{{material.uUID}}</span>
                </dd>
                <dt><span>Base Measure Unit Code</span></dt>
                <dd>
                    <span>{{material.baseMeasureUnitCode}}</span>
                </dd>
                <dt><span>Base Measure Unit Code Text</span></dt>
                <dd>
                    <span>{{material.baseMeasureUnitCodeText}}</span>
                </dd>
                <dt><span>Identified Stock Type Code</span></dt>
                <dd>
                    <span>{{material.identifiedStockTypeCode}}</span>
                </dd>
                <dt><span>Identified Stock Type Code Text</span></dt>
                <dd>
                    <span>{{material.identifiedStockTypeCodeText}}</span>
                </dd>
                <dt><span>Language Code</span></dt>
                <dd>
                    <span>{{material.languageCode}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{material.description}}</span>
                </dd>
                <dt><span>Language Code Text</span></dt>
                <dd>
                    <span>{{material.languageCodeText}}</span>
                </dd>
                <dt><span>Product Valuation Level Type Code</span></dt>
                <dd>
                    <span>{{material.productValuationLevelTypeCode}}</span>
                </dd>
                <dt><span>Product Valuation Level Type Code Text</span></dt>
                <dd>
                    <span>{{material.productValuationLevelTypeCodeText}}</span>
                </dd>
                <dt><span>Material Deviant Tax Classification</span></dt>
                <dd>
                    <span *ngFor="let materialDeviantTaxClassification of material.materialDeviantTaxClassifications; let last = last">
                        <a [routerLink]="['/material-deviant-tax-classification', materialDeviantTaxClassification?.id, 'view' ]">{{materialDeviantTaxClassification.taxExemptionReasonCodeText}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Quantity Conversion</span></dt>
                <dd>
                    <span *ngFor="let materialQuantityConversion of material.materialQuantityConversions; let last = last">
                        <a [routerLink]="['/material-quantity-conversion', materialQuantityConversion?.id, 'view' ]">{{materialQuantityConversion.quantityUnitCodeText}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Cross Process Category</span></dt>
                <dd>
                    <span *ngFor="let materialCrossProcessCategory of material.materialCrossProcessCategories; let last = last">
                        <a [routerLink]="['/material-cross-process-category', materialCrossProcessCategory?.id, 'view' ]">{{materialCrossProcessCategory.productCategoryInternalID}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Inventory Process Information</span></dt>
                <dd>
                    <span *ngFor="let materialInventoryProcessInformation of material.materialInventoryProcessInformations; let last = last">
                        <a [routerLink]="['/material-inventory-process-information', materialInventoryProcessInformation?.id, 'view' ]">{{materialInventoryProcessInformation.siteID}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Sales Process Information</span></dt>
                <dd>
                    <span *ngFor="let materialSalesProcessInformation of material.materialSalesProcessInformations; let last = last">
                        <a [routerLink]="['/material-sales-process-information', materialSalesProcessInformation?.id, 'view' ]">{{materialSalesProcessInformation.salesOrganisationID}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Financial Process Information</span></dt>
                <dd>
                    <span *ngFor="let materialFinancialProcessInformation of material.materialFinancialProcessInformations; let last = last">
                        <a [routerLink]="['/material-financial-process-information', materialFinancialProcessInformation?.id, 'view' ]">{{materialFinancialProcessInformation.permanentEstablishmentID}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Supply Planning Process Information</span></dt>
                <dd>
                    <span *ngFor="let materialSupplyPlanningProcessInformation of material.materialSupplyPlanningProcessInformations; let last = last">
                        <a [routerLink]="['/material-supply-planning-process-information', materialSupplyPlanningProcessInformation?.id, 'view' ]">{{materialSupplyPlanningProcessInformation.supplyPlanningProcedureCodeText}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Material Availability Confirmation Process Information</span></dt>
                <dd>
                    <span *ngFor="let materialAvailabilityConfirmationProcessInformation of material.materialAvailabilityConfirmationProcessInformations; let last = last">
                        <a [routerLink]="['/material-availability-confirmation-process-information', materialAvailabilityConfirmationProcessInformation?.id, 'view' ]">{{materialAvailabilityConfirmationProcessInformation.availabilityConfirmationModeCodeText}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material', material.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
