<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-heading">Create or edit a Material</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!material.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_procurementMeasureUnitCode">Procurement Measure Unit Code</label>
                    <input type="text" class="form-control" name="procurementMeasureUnitCode" id="field_procurementMeasureUnitCode"
                           formControlName="procurementMeasureUnitCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_procurementMeasureUnitCodeText">Procurement Measure Unit Code Text</label>
                    <input type="text" class="form-control" name="procurementMeasureUnitCodeText" id="field_procurementMeasureUnitCodeText"
                           formControlName="procurementMeasureUnitCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_procurementLifeCycleStatusCode">Procurement Life Cycle Status Code</label>
                    <input type="text" class="form-control" name="procurementLifeCycleStatusCode" id="field_procurementLifeCycleStatusCode"
                           formControlName="procurementLifeCycleStatusCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_procurementLifeCycleStatusCodeText">Procurement Life Cycle Status Code Text</label>
                    <input type="text" class="form-control" name="procurementLifeCycleStatusCodeText" id="field_procurementLifeCycleStatusCodeText"
                           formControlName="procurementLifeCycleStatusCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_internalID">Internal ID</label>
                    <input type="text" class="form-control" name="internalID" id="field_internalID"
                           formControlName="internalID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uUID">U UID</label>
                    <input type="text" class="form-control" name="uUID" id="field_uUID"
                           formControlName="uUID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_baseMeasureUnitCode">Base Measure Unit Code</label>
                    <input type="text" class="form-control" name="baseMeasureUnitCode" id="field_baseMeasureUnitCode"
                           formControlName="baseMeasureUnitCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_baseMeasureUnitCodeText">Base Measure Unit Code Text</label>
                    <input type="text" class="form-control" name="baseMeasureUnitCodeText" id="field_baseMeasureUnitCodeText"
                           formControlName="baseMeasureUnitCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifiedStockTypeCode">Identified Stock Type Code</label>
                    <input type="text" class="form-control" name="identifiedStockTypeCode" id="field_identifiedStockTypeCode"
                           formControlName="identifiedStockTypeCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifiedStockTypeCodeText">Identified Stock Type Code Text</label>
                    <input type="text" class="form-control" name="identifiedStockTypeCodeText" id="field_identifiedStockTypeCodeText"
                           formControlName="identifiedStockTypeCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_languageCode">Language Code</label>
                    <input type="text" class="form-control" name="languageCode" id="field_languageCode"
                           formControlName="languageCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_languageCodeText">Language Code Text</label>
                    <input type="text" class="form-control" name="languageCodeText" id="field_languageCodeText"
                           formControlName="languageCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productValuationLevelTypeCode">Product Valuation Level Type Code</label>
                    <input type="text" class="form-control" name="productValuationLevelTypeCode" id="field_productValuationLevelTypeCode"
                           formControlName="productValuationLevelTypeCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productValuationLevelTypeCodeText">Product Valuation Level Type Code Text</label>
                    <input type="text" class="form-control" name="productValuationLevelTypeCodeText" id="field_productValuationLevelTypeCodeText"
                           formControlName="productValuationLevelTypeCodeText"/>
                </div>

                <div class="form-group">
                    <label for="field_materialDeviantTaxClassifications">Material Deviant Tax Classification</label>
                    <select class="form-control" id="field_materialDeviantTaxClassifications" multiple name="materialDeviantTaxClassifications" formControlName="materialDeviantTaxClassifications">
                        <option [ngValue]="getSelected(editForm.get('materialDeviantTaxClassifications').value, materialDeviantTaxClassificationOption)" *ngFor="let materialDeviantTaxClassificationOption of materialdevianttaxclassifications; trackBy: trackMaterialDeviantTaxClassificationById">{{materialDeviantTaxClassificationOption.taxExemptionReasonCodeText}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialQuantityConversions">Material Quantity Conversion</label>
                    <select class="form-control" id="field_materialQuantityConversions" multiple name="materialQuantityConversions" formControlName="materialQuantityConversions">
                        <option [ngValue]="getSelected(editForm.get('materialQuantityConversions').value, materialQuantityConversionOption)" *ngFor="let materialQuantityConversionOption of materialquantityconversions; trackBy: trackMaterialQuantityConversionById">{{materialQuantityConversionOption.quantityUnitCodeText}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialCrossProcessCategories">Material Cross Process Category</label>
                    <select class="form-control" id="field_materialCrossProcessCategories" multiple name="materialCrossProcessCategories" formControlName="materialCrossProcessCategories">
                        <option [ngValue]="getSelected(editForm.get('materialCrossProcessCategories').value, materialCrossProcessCategoryOption)" *ngFor="let materialCrossProcessCategoryOption of materialcrossprocesscategories; trackBy: trackMaterialCrossProcessCategoryById">{{materialCrossProcessCategoryOption.productCategoryInternalID}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialInventoryProcessInformations">Material Inventory Process Information</label>
                    <select class="form-control" id="field_materialInventoryProcessInformations" multiple name="materialInventoryProcessInformations" formControlName="materialInventoryProcessInformations">
                        <option [ngValue]="getSelected(editForm.get('materialInventoryProcessInformations').value, materialInventoryProcessInformationOption)" *ngFor="let materialInventoryProcessInformationOption of materialinventoryprocessinformations; trackBy: trackMaterialInventoryProcessInformationById">{{materialInventoryProcessInformationOption.siteID}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialSalesProcessInformations">Material Sales Process Information</label>
                    <select class="form-control" id="field_materialSalesProcessInformations" multiple name="materialSalesProcessInformations" formControlName="materialSalesProcessInformations">
                        <option [ngValue]="getSelected(editForm.get('materialSalesProcessInformations').value, materialSalesProcessInformationOption)" *ngFor="let materialSalesProcessInformationOption of materialsalesprocessinformations; trackBy: trackMaterialSalesProcessInformationById">{{materialSalesProcessInformationOption.salesOrganisationID}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialFinancialProcessInformations">Material Financial Process Information</label>
                    <select class="form-control" id="field_materialFinancialProcessInformations" multiple name="materialFinancialProcessInformations" formControlName="materialFinancialProcessInformations">
                        <option [ngValue]="getSelected(editForm.get('materialFinancialProcessInformations').value, materialFinancialProcessInformationOption)" *ngFor="let materialFinancialProcessInformationOption of materialfinancialprocessinformations; trackBy: trackMaterialFinancialProcessInformationById">{{materialFinancialProcessInformationOption.permanentEstablishmentID}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialSupplyPlanningProcessInformations">Material Supply Planning Process Information</label>
                    <select class="form-control" id="field_materialSupplyPlanningProcessInformations" multiple name="materialSupplyPlanningProcessInformations" formControlName="materialSupplyPlanningProcessInformations">
                        <option [ngValue]="getSelected(editForm.get('materialSupplyPlanningProcessInformations').value, materialSupplyPlanningProcessInformationOption)" *ngFor="let materialSupplyPlanningProcessInformationOption of materialsupplyplanningprocessinformations; trackBy: trackMaterialSupplyPlanningProcessInformationById">{{materialSupplyPlanningProcessInformationOption.supplyPlanningProcedureCodeText}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_materialAvailabilityConfirmationProcessInformations">Material Availability Confirmation Process Information</label>
                    <select class="form-control" id="field_materialAvailabilityConfirmationProcessInformations" multiple name="materialAvailabilityConfirmationProcessInformations" formControlName="materialAvailabilityConfirmationProcessInformations">
                        <option [ngValue]="getSelected(editForm.get('materialAvailabilityConfirmationProcessInformations').value, materialAvailabilityConfirmationProcessInformationOption)" *ngFor="let materialAvailabilityConfirmationProcessInformationOption of materialavailabilityconfirmationprocessinformations; trackBy: trackMaterialAvailabilityConfirmationProcessInformationById">{{materialAvailabilityConfirmationProcessInformationOption.availabilityConfirmationModeCodeText}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
