<div>
    <h2 id="page-heading">
        <span>Material Sales Process Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-sales-process-information" [routerLink]="['/material-sales-process-information/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Sales Process Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialSalesProcessInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesOrganisationID"><span>Sales Organisation ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="distributionChannelCode"><span>Distribution Channel Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="distributionChannelCodeText"><span>Distribution Channel Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCode"><span>Life Cycle Status Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lifeCycleStatusCodeText"><span>Life Cycle Status Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesMeasureUnitCode"><span>Sales Measure Unit Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesMeasureUnitCodeText"><span>Sales Measure Unit Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerTrxDocItemProcessingTypeDeterminationProductGroupCode"><span>Customer Trx Doc Item Processing Type Determination Product Group Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt"><span>Customer Trx Doc Item Processing Type Determination Product Group Code Txt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashDiscountDeductibleIndicator"><span>Cash Discount Deductible Indicator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minimumOrderQuantity"><span>Minimum Order Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialSalesProcessInformation of materialSalesProcessInformations ;trackBy: trackId">
                <td><a [routerLink]="['/material-sales-process-information', materialSalesProcessInformation.id, 'view' ]">{{materialSalesProcessInformation.id}}</a></td>
                <td>{{materialSalesProcessInformation.salesOrganisationID}}</td>
                <td>{{materialSalesProcessInformation.distributionChannelCode}}</td>
                <td>{{materialSalesProcessInformation.distributionChannelCodeText}}</td>
                <td>{{materialSalesProcessInformation.lifeCycleStatusCode}}</td>
                <td>{{materialSalesProcessInformation.lifeCycleStatusCodeText}}</td>
                <td>{{materialSalesProcessInformation.salesMeasureUnitCode}}</td>
                <td>{{materialSalesProcessInformation.salesMeasureUnitCodeText}}</td>
                <td>{{materialSalesProcessInformation.customerTrxDocItemProcessingTypeDeterminationProductGroupCode}}</td>
                <td>{{materialSalesProcessInformation.customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt}}</td>
                <td>{{materialSalesProcessInformation.cashDiscountDeductibleIndicator}}</td>
                <td>{{materialSalesProcessInformation.minimumOrderQuantity}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-sales-process-information', materialSalesProcessInformation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-sales-process-information', materialSalesProcessInformation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-sales-process-information', { outlets: { popup: materialSalesProcessInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialSalesProcessInformations && materialSalesProcessInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
