<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialSalesProcessInformation">
            <h2><span>Material Sales Process Information</span> {{materialSalesProcessInformation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sales Organisation ID</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.salesOrganisationID}}</span>
                </dd>
                <dt><span>Distribution Channel Code</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.distributionChannelCode}}</span>
                </dd>
                <dt><span>Distribution Channel Code Text</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.distributionChannelCodeText}}</span>
                </dd>
                <dt><span>Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.lifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.lifeCycleStatusCodeText}}</span>
                </dd>
                <dt><span>Sales Measure Unit Code</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.salesMeasureUnitCode}}</span>
                </dd>
                <dt><span>Sales Measure Unit Code Text</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.salesMeasureUnitCodeText}}</span>
                </dd>
                <dt><span>Customer Trx Doc Item Processing Type Determination Product Group Code</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.customerTrxDocItemProcessingTypeDeterminationProductGroupCode}}</span>
                </dd>
                <dt><span>Customer Trx Doc Item Processing Type Determination Product Group Code Txt</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt}}</span>
                </dd>
                <dt><span>Cash Discount Deductible Indicator</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.cashDiscountDeductibleIndicator}}</span>
                </dd>
                <dt><span>Minimum Order Quantity</span></dt>
                <dd>
                    <span>{{materialSalesProcessInformation.minimumOrderQuantity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-sales-process-information', materialSalesProcessInformation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
