<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-sales-process-information-heading">Create or edit a Material Sales Process Information</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialSalesProcessInformation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_salesOrganisationID">Sales Organisation ID</label>
                    <input type="text" class="form-control" name="salesOrganisationID" id="field_salesOrganisationID"
                           formControlName="salesOrganisationID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_distributionChannelCode">Distribution Channel Code</label>
                    <input type="text" class="form-control" name="distributionChannelCode" id="field_distributionChannelCode"
                           formControlName="distributionChannelCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_distributionChannelCodeText">Distribution Channel Code Text</label>
                    <input type="text" class="form-control" name="distributionChannelCodeText" id="field_distributionChannelCodeText"
                           formControlName="distributionChannelCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCode">Life Cycle Status Code</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCode" id="field_lifeCycleStatusCode"
                           formControlName="lifeCycleStatusCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCodeText">Life Cycle Status Code Text</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCodeText" id="field_lifeCycleStatusCodeText"
                           formControlName="lifeCycleStatusCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_salesMeasureUnitCode">Sales Measure Unit Code</label>
                    <input type="text" class="form-control" name="salesMeasureUnitCode" id="field_salesMeasureUnitCode"
                           formControlName="salesMeasureUnitCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_salesMeasureUnitCodeText">Sales Measure Unit Code Text</label>
                    <input type="text" class="form-control" name="salesMeasureUnitCodeText" id="field_salesMeasureUnitCodeText"
                           formControlName="salesMeasureUnitCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerTrxDocItemProcessingTypeDeterminationProductGroupCode">Customer Trx Doc Item Processing Type Determination Product Group Code</label>
                    <input type="text" class="form-control" name="customerTrxDocItemProcessingTypeDeterminationProductGroupCode" id="field_customerTrxDocItemProcessingTypeDeterminationProductGroupCode"
                           formControlName="customerTrxDocItemProcessingTypeDeterminationProductGroupCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt">Customer Trx Doc Item Processing Type Determination Product Group Code Txt</label>
                    <input type="text" class="form-control" name="customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt" id="field_customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt"
                           formControlName="customerTrxDocItemProcessingTypeDeterminationProductGroupCodeTxt"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cashDiscountDeductibleIndicator">Cash Discount Deductible Indicator</label>
                    <input type="checkbox" class="form-control" name="cashDiscountDeductibleIndicator" id="field_cashDiscountDeductibleIndicator"
                           formControlName="cashDiscountDeductibleIndicator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minimumOrderQuantity">Minimum Order Quantity</label>
                    <input type="number" class="form-control" name="minimumOrderQuantity" id="field_minimumOrderQuantity"
                           formControlName="minimumOrderQuantity"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
