<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialAvailabilityConfirmationProcessInformation">
            <h2><span>Material Availability Confirmation Process Information</span> {{materialAvailabilityConfirmationProcessInformation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Availability Confirmation Mode Code</span></dt>
                <dd>
                    <span>{{materialAvailabilityConfirmationProcessInformation.availabilityConfirmationModeCode}}</span>
                </dd>
                <dt><span>Availability Confirmation Mode Code Text</span></dt>
                <dd>
                    <span>{{materialAvailabilityConfirmationProcessInformation.availabilityConfirmationModeCodeText}}</span>
                </dd>
                <dt><span>Supply Planning Area ID</span></dt>
                <dd>
                    <span>{{materialAvailabilityConfirmationProcessInformation.supplyPlanningAreaID}}</span>
                </dd>
                <dt><span>Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{materialAvailabilityConfirmationProcessInformation.lifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{materialAvailabilityConfirmationProcessInformation.lifeCycleStatusCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-availability-confirmation-process-information', materialAvailabilityConfirmationProcessInformation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
