<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-availability-confirmation-process-information-heading">Create or edit a Material Availability Confirmation Process Information</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialAvailabilityConfirmationProcessInformation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_availabilityConfirmationModeCode">Availability Confirmation Mode Code</label>
                    <input type="text" class="form-control" name="availabilityConfirmationModeCode" id="field_availabilityConfirmationModeCode"
                           formControlName="availabilityConfirmationModeCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_availabilityConfirmationModeCodeText">Availability Confirmation Mode Code Text</label>
                    <input type="text" class="form-control" name="availabilityConfirmationModeCodeText" id="field_availabilityConfirmationModeCodeText"
                           formControlName="availabilityConfirmationModeCodeText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplyPlanningAreaID">Supply Planning Area ID</label>
                    <input type="text" class="form-control" name="supplyPlanningAreaID" id="field_supplyPlanningAreaID"
                           formControlName="supplyPlanningAreaID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCode">Life Cycle Status Code</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCode" id="field_lifeCycleStatusCode"
                           formControlName="lifeCycleStatusCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCodeText">Life Cycle Status Code Text</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCodeText" id="field_lifeCycleStatusCodeText"
                           formControlName="lifeCycleStatusCodeText"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
