<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialCrossProcessCategory">
            <h2><span>Material Cross Process Category</span> {{materialCrossProcessCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Category Internal ID</span></dt>
                <dd>
                    <span>{{materialCrossProcessCategory.productCategoryInternalID}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{materialCrossProcessCategory.description}}</span>
                </dd>
                <dt><span>Description Language Code</span></dt>
                <dd>
                    <span>{{materialCrossProcessCategory.descriptionLanguageCode}}</span>
                </dd>
                <dt><span>Description Language Code Text</span></dt>
                <dd>
                    <span>{{materialCrossProcessCategory.descriptionLanguageCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-cross-process-category', materialCrossProcessCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
