<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-cross-process-category-heading">Create or edit a Material Cross Process Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialCrossProcessCategory.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productCategoryInternalID">Product Category Internal ID</label>
                    <input type="text" class="form-control" name="productCategoryInternalID" id="field_productCategoryInternalID"
                           formControlName="productCategoryInternalID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descriptionLanguageCode">Description Language Code</label>
                    <input type="text" class="form-control" name="descriptionLanguageCode" id="field_descriptionLanguageCode"
                           formControlName="descriptionLanguageCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descriptionLanguageCodeText">Description Language Code Text</label>
                    <input type="text" class="form-control" name="descriptionLanguageCodeText" id="field_descriptionLanguageCodeText"
                           formControlName="descriptionLanguageCodeText"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
