<div>
    <h2 id="page-heading">
        <span>Material Cross Process Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-cross-process-category" [routerLink]="['/material-cross-process-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Material Cross Process Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materialCrossProcessCategories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productCategoryInternalID"><span>Product Category Internal ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descriptionLanguageCode"><span>Description Language Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descriptionLanguageCodeText"><span>Description Language Code Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let materialCrossProcessCategory of materialCrossProcessCategories ;trackBy: trackId">
                <td><a [routerLink]="['/material-cross-process-category', materialCrossProcessCategory.id, 'view' ]">{{materialCrossProcessCategory.id}}</a></td>
                <td>{{materialCrossProcessCategory.productCategoryInternalID}}</td>
                <td>{{materialCrossProcessCategory.description}}</td>
                <td>{{materialCrossProcessCategory.descriptionLanguageCode}}</td>
                <td>{{materialCrossProcessCategory.descriptionLanguageCodeText}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/material-cross-process-category', materialCrossProcessCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-cross-process-category', materialCrossProcessCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'material-cross-process-category', { outlets: { popup: materialCrossProcessCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materialCrossProcessCategories && materialCrossProcessCategories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
