<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialInventoryProcessInformation">
            <h2><span>Material Inventory Process Information</span> {{materialInventoryProcessInformation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Site ID</span></dt>
                <dd>
                    <span>{{materialInventoryProcessInformation.siteID}}</span>
                </dd>
                <dt><span>Life Cycle Status Code</span></dt>
                <dd>
                    <span>{{materialInventoryProcessInformation.lifeCycleStatusCode}}</span>
                </dd>
                <dt><span>Life Cycle Status Code Text</span></dt>
                <dd>
                    <span>{{materialInventoryProcessInformation.lifeCycleStatusCodeText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-inventory-process-information', materialInventoryProcessInformation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
