<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-material-inventory-process-information-heading">Create or edit a Material Inventory Process Information</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!materialInventoryProcessInformation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_siteID">Site ID</label>
                    <input type="text" class="form-control" name="siteID" id="field_siteID"
                           formControlName="siteID"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCode">Life Cycle Status Code</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCode" id="field_lifeCycleStatusCode"
                           formControlName="lifeCycleStatusCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lifeCycleStatusCodeText">Life Cycle Status Code Text</label>
                    <input type="text" class="form-control" name="lifeCycleStatusCodeText" id="field_lifeCycleStatusCodeText"
                           formControlName="lifeCycleStatusCodeText"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
